body,h1,h2,h3,h4,form,ol,ul{margin:0;}
ol,ul{padding:0;}
html,textarea,input,option,select,button{font:400 16px "PT Serif",Georgia,Times,"Times New Roman",serif;color:#222;}
h1,h2,h3,h4{font-weight:800;}
textarea:focus,input:focus{outline:none;}
::selection{background:rgba(0,149,255,0.1);}
ul{list-style-type:none;}
a{text-decoration:none;color:#111;}
a:hover{color:#a6a547;}
img{border:0 none;}

.o{overflow:hidden;zoom:1;}
.l{float:left;}
.r{float:right;}

.h{opacity:0;}

#m{overflow-y:hidden;}

header{/*margin:1.3em;*/height:70px;background:#F8F8F8;}/*background:#F9F9F9;*/
header h1{height:70px;width:160px;margin:0;
	background:url(logo.svg) no-repeat 50% 50%;text-indent:-999em;}

.nav{padding:10px;font:16px/50px sans-serif;list-style-type:none;margin:0;}
.nav li{display:inline-block;vertical-align:top;position:relative;margin-left:1em;}
.nav ul{position:absolute;top:50px;padding:10px;margin:0 -10px;}

.nav a{line-height:50px;display:inline-block;vertical-align:top;position:relative;}

.nav .i{vertical-align:top;}

.up-li{display:inline-block;height:50px;}
.nav #dragF{position:absolute;height:100%;width:100%;top:0;left:0;cursor:pointer;opacity:0;}

#pace{position:absolute;position:fixed;top:0;height:2px;background:#F92672;z-index:1;}

/*
.nav a i{-webkit-filter:saturate(0) contrast(0) brightness(1.7) sepia(.05) hue-rotate(210deg);}
.nav a:hover i,
.nav .a i{-webkit-filter:none;}
*/
.nav sup{position:absolute;font:bold 16px/24px sans-serif;color:#BF1D1D;left:32px;top:2px;}
.nav b{float:right;font-size:18px;font-weight:normal;padding:0 15px 0 45px;color:#999;}

.nav .u{height:50px;}
.nav .u img{height:50px;width:50px;display:block;border-radius:50%;}

#ab{padding:60px 0 30px;}
#ab i{margin:0 auto;}


.u-info{text-align:center;}
.u-info .co{width:160px;height:160px;display:block;margin:0 auto;background:#EEE;background-size:cover;
	border-radius:50%;overflow:hidden;}
.u-info .co-b b{font-weight:800;font-size:5em;color:#222;
	letter-spacing:0;text-indent:0;}

.u-info img{display:block;height:100%;width:160px;}/*border-radius:50%;*/
.u-info b{line-height:2em;letter-spacing:.2em;text-indent:.2em;}
.u-info p{color:#999;font-size:12px;line-height:20px;max-width:28em;padding:.2em;margin:0 auto;}

.u-url{padding:1em;}
.u-url-weibo a:hover{color:#B00;}

#grid{margin:40px auto;position:relative;padding-bottom:40px;min-height:300px;
	transition:width .3s ease;}
.grid{position:absolute;width:300px;
	left:1%;top:1%;
	transition:left .3s ease,top .3s ease;}
	/*background:#DDD;*/

.grid .co{display:block;background:url(loading.gif) 50% 50% no-repeat;width:300px;overflow:hidden;}
.grid .co img{display:block;}

.info{padding-top:15px;text-align:center;}
.info a{color:#666;letter-spacing:.2em;text-indent:.2em;line-height:12px;font-size:12px;}
.info a:hover{color:#a6a547;}

.follow{width:180px;text-align:center;line-height:38px;letter-spacing:.2em;text-indent:.2em;background:#666;color:#FFF;display:block;margin:1em auto;}
.follow:hover{background:#a6a547;color:#FFF;}


#pp{max-width:800px;margin:0 auto;text-align:center;}
.pp-text{padding:60px 0;}
#pp i{margin:0 auto;}

#pp .img{max-width:100%;}

.co{position:relative;}
.co img{
	-webkit-transition:opacity .3s ease,-webkit-transform .3s ease;
	-moz-transition:opacity .3s ease,-moz-transform .3s ease;
	transition:opacity .3s ease,transform .3s ease;}

.co-pr{position:absolute;top:0;z-index:-1;opacity:0;line-height:100%;height:100%;width:100%;text-align:center;
	color:#FFF;background:rgba(255,255,255,.2);pointer-events:none;}
.co-pr i{position:absolute;top:50%;left:0;margin-top:-.5em;width:100%;text-align:center;
	font:800 100px/100px "PT Serif",Georgia,Times,"Times New Roman",serif;}

.grid:hover .co-pr{z-index:1;opacity:.97;}

.co .load{opacity:0;
	transform:scale(.3) rotate(-15deg);
	-moz-transform:scale(.3) rotate(-15deg);
	-webkit-transform:scale(.3) rotate(-15deg);}

#pp .img{transition:opacity .3s ease;}
#pp .img.load{opacity:.8;min-height:200px;}


.pp-co{position:relative;background:#EEE;background-size:cover;display:inline-block;}
.pp-co img{display:block;}
.pp-co .pp-img-theme{position:absolute;top:0;z-index:-1;background:#666;}
/*
animation:f .7s ease;-moz-animation:f .7s ease;-webkit-animation:f .7s ease;


#pp-info-btn{opacity:.7;}
#pp-info-btn:hover{opacity:1;}
*/

#pp-info{}
#pp-info.h{}
#pp-info.h{opacity:0;overflow:hidden;transform:scale(0,.5);-webkit-transform:scale(0,.5);}

#pp-info>time{display:block;padding:.5em;text-align:center;font-size:12px;color:#999;}

#pp-map-cover{overflow:hidden;}
#pp-map-cover img{display:block;max-width:100%;}

.pp-exif-info{margin:40px auto 0;max-width:400px;padding:20px 0 23px;border-top:1px solid #EEE;opacity:.9;color:#000;font-weight:bold;}
.pp-exif-info p{font-size:24px;width:60px;line-height:50px;padding-left:50px;position:relative;text-align:left;display:inline-block;margin:.5em;}
.pp-exif-info .i{position:absolute;left:0;top:0;}


.pp-pre-box{padding-bottom:30px;}

.pp-preset{
	width:60px;
	height:60px;
	font-size:30px;
	line-height:60px;
	text-align:center;
	background:#A04;
	color:#FFF;
	border:0;
	display:block;
	margin:0 auto;
	text-transform:uppercase;
	cursor:pointer;
}
.pp-preset::selection{background:rgba(0,0,0,0);}


.body-login .user.nav,
.body-reg .user.nav{display:none;}



footer{padding:3em 0 3.4em;margin:3em auto 0;max-width:800px;border-top:1px solid #EEE;}
.qr{display:block;margin:0 auto;}

.banner{font-size:3em;padding:1em;text-align:center;}

#more{font-size:14px;text-align:center;}
#more a{padding:1em 0;border-radius:1em;}
#more a:hover{}


header{transition:opacity .3s ease,margin .3s ease;}


.loading{display:block;height:300px;background:url(loading.gif) 50% 50% no-repeat;}
/*
.body-u header,
.body-g header{opacity:0;display:none;}
*/

#Ul,#Ur{}
#Ul,
#Ur,
.U-act{max-width:300px;margin:0 auto;text-align:center;}

.U-act .i{display:inline-block;margin-right:5px;}

.body-reg h2,
.body-login h2{}

.body-up #ab{display:none;}
#pp-preset{border:none;}

input:-webkit-autofill{ 
	-webkit-box-shadow:0 0 0px 100px #EEE inset;
}

input,textarea,button{font-size:1.4em;}
form p{padding-bottom:.5em;display:block;}
.text,.btn{border:0;margin:0;border-radius:.5em;display:block;margin:0 auto;text-align:center;
	-webkit-appearance:none;}
.text{width:100%;background:#EEE;padding:.5em;
	-moz-box-sizing:border-box;
	box-sizing:border-box;}
textarea.text{text-align:left;}
.btn{padding:.5em .7em;background:#a6a547;color:#FFF;cursor:pointer;}
a.btn{font-size:1.2em;}

.U-act{padding-top:3em;}
.U-act p{color:#999;font-size:.8em;}


.i{width:1em;height:1em;display:block;background:url(icon.svg) no-repeat;font-size:50px;}

.i0v0{background-position:0 0;}
.i1v0{background-position:-1em 0;}
.i2v0{background-position:-2em 0;}
.i3v0{background-position:-3em 0;}
.i4v0{background-position:-4em 0;}
.i5v0{background-position:-5em 0;}




.i1v1{background-position:-1em -1em;}
.i2v1{background-position:-2em -1em;}
.i3v1{background-position:-3em -1em;}
.i4v1{background-position:-4em -1em;}
.i5v1{background-position:-5em -1em;}
.i6v1{background-position:-6em -1em;}
.i7v1{background-position:-7em -1em;}
.i8v1{background-position:-8em -1em;}



.i0v2{background-position:0 -2em;}
.i1v2{background-position:-1em -2em;}



.alert{position:fixed;top:0;width:100%;z-index:10;
	text-align:center;line-height:114px;height:134px;font-size:3em;
	background:#EEE;background:rgba(230,230,230,.95);color:#222;
	pointer-events:none;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.alert.h{opacity:0;top:-144px;}


.nav a i,
.qr,a,
#pp-info,.alert,
.co-pr{transition:.3s ease;}





@media(max-width:800px){
	header{margin:0;}
}

@media(max-width:600px){
	.text{border-radius:0;}
	.nav b{display:none;}
	.nav li{margin-left:.5em;}
	header h1{width:70px;background-position:-70px;margin-left:6px;}
}

@media(max-width:300px){
}


